[submodule "third-party/qemu"]
	path = third-party/qemu
	url = https://gitlab.com/qemu-project/qemu.git
[submodule "third-party/doom-for-myos"]
	path = third-party/doom-for-myos
	url = https://github.com/Zakki0925224/doom-for-myos.git
