[submodule "third-party/cozette"]
	path = third-party/cozette
	url = https://github.com/slavfox/Cozette.git
    ignore = dirty
[submodule "third-party/qemu"]
	path = third-party/qemu
	url = https://gitlab.com/qemu-project/qemu.git
