[submodule "third-party/cozette"]
	path = third-party/cozette
	url = https://github.com/Zakki0925224/Cozette.git
    ignore = dirty
[submodule "third-party/edk2"]
	path = third-party/edk2
	url = https://github.com/Zakki0925224/edk2.git
    ignore = dirty
